:root {
  --bg-1: #ACC3F9;
  --bg-2: #829CDA;
  --bg-3: #657db5;

  --red: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);

  --dc-1: #36393f;
  --dc-2: #2f3136;
  --dc-3: #2a2c30;
  --dc-ter: #202225;
  --dc-text-1: #fff;
  --dc-text-2: rgb(220, 221, 222);
  --dc-text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
}
